#header {
  width: 100%;
  height: 50px;
  min-width: 1260px;
  position: fixed;
  z-index: 100000000;
  background: #252b3a;
  color: #adb0b8;
  line-height: 50px;
  padding: 0 20px;
}

#service-content {
  position: relative;
  padding-top: 50px;
  height: 100%;
  background-color: #eef0f5;
  z-index: 0;
}

#menu {
  display: inline-block;
  position: fixed;
  top: 50px;
  bottom: 0px;
  width: 192px;
  z-index: 100000000;
}

#menu-content {
  display: block;
  padding-left: 192px;
}

.user-name {
  float: right;
  max-width: 200px;
  padding: 0 10px;
}

.user-drop-down {
  display: none;
  width: 200px;
  position: fixed;
  top: 50px;
  right: 20px;
  background: #464c59;
}

.user-name:hover {
  color: #fff;
  background: #464c59;
  .user-drop-down {
    display: inline-block;
  }
}
