body,
html {
  height: 100%;
}

#J_container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #eef0f5;
}

#J_container {
  min-width: 1280px;
  overflow: visible !important;
}

.app-card {
  border: 0 !important;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 8%);
  border-radius: 2px;
}

.app-absolute {
  position: absolute;
}

.app-relative {
  position: relative;
}

.app-mt-4 {
  margin-top: 4px;
}

.app-mt-8 {
  margin-top: 8px;
}

.app-mt-12 {
  margin-top: 12px;
}

.app-mt-16 {
  margin-top: 16px;
}

.app-mt-20 {
  margin-top: 20px;
}

.app-mt-24 {
  margin-top: 24px;
}

.app-ml-4 {
  margin-left: 4px;
}

.app-ml-8 {
  margin-left: 8px;
}

.app-ml-12 {
  margin-left: 12px;
}

.app-ml-16 {
  margin-left: 16px;
}

.app-ml-20 {
  margin-left: 20px;
}

.app-ml-24 {
  margin-left: 24px;
}

.app-mr-4 {
  margin-right: 4px;
}

.app-mr-8 {
  margin-right: 8px;
}

.app-mr-12 {
  margin-right: 12px;
}

.app-mr-16 {
  margin-right: 16px;
}

.app-mr-20 {
  margin-right: 20px;
}

.app-mr-24 {
  margin-right: 24px;
}

.app-font-16 {
  font-size: 16px;
}

.app-text-center {
  text-align: center;
}

.app-width-full {
  width: 100%;
}

.app-inline-block {
  display: inline-block;
}

.app-pointer {
  cursor: pointer;
}

.app-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
