<div style="width: 100%; text-align: center; padding: 50px">
  <div
    class="xf-card"
    style="width: 500px; display: inline-block; padding: 30px"
  >
    <div [formGroup]="registerForm">
      <!-- 账号名 -->
      <div>
        <input
          dTextInput
          formControlName="username"
          placeholder="账号名"
          [size]="'lg'"
        />
      </div>
      <!-- 密码 -->
      <div class="xf-mt-5x">
        <d-form-control [suffixTemplate]="suffixTemplate">
          <input
            dTextInput
            formControlName="password"
            placeholder="密码"
            [size]="'lg'"
            name="inputPassword"
            [type]="showPassword ? 'text' : 'password'"
          />
        </d-form-control>

        <ng-template #suffixTemplate>
          <i
            class="xf-font-16"
            [class]="
              showPassword ? 'icon icon-preview' : 'icon icon-preview-forbidden'
            "
            (click)="showPassword = !showPassword"
          ></i>
        </ng-template>
      </div>
      <!-- 确认密码 -->
      <div class="xf-mt-5x">
        <d-form-control [suffixTemplate]="suffixTemplate">
          <input
            dTextInput
            formControlName="confPassword"
            placeholder="确认密码"
            [size]="'lg'"
            name="inputPassword"
            [type]="showConfPassword ? 'text' : 'password'"
          />
        </d-form-control>

        <ng-template #suffixTemplate>
          <i
            class="xf-font-16"
            [class]="
              showConfPassword
                ? 'icon icon-preview'
                : 'icon icon-preview-forbidden'
            "
            (click)="showConfPassword = !showConfPassword"
          ></i>
        </ng-template>
      </div>
    </div>
    <div class="xf-mt-6x xf-text-center">
      <div>
        <d-button
          class="xf-width-full"
          bsStyle="danger"
          bsSize="lg"
          (btnClick)="register()"
          >注册</d-button
        >
      </div>
    </div>
  </div>
</div>
